body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #47b5ff;
}

li {
  list-style: none;
}

.page-header {
  width: 100%;
  background-color: #256d85;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.nav-bar p a {
  color: white;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}

.nav-bar p a:hover {
  color: black;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-section.active {
  display: none;
}

.page-sections {
  width: 40em;
  height: auto;
  min-height: 25em;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px black;
}

.books-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  width: 38em;
  height: auto;
  border: 2px solid black;
}

.header {
  margin: 10px 0 10px 0;
  font-size: 2em;
}

.books {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38em;
  height: 2em;
}

.books-items {
  font-size: 1em;
}

.books-items-odd {
  background-color: rgba(0, 0, 0, 0.2);
}

.remove-button {
  border-radius: 0;
  background-color: #fff;
  border: 3px solid black;
  margin: 0 2px 0 0;
}

.form-title {
  font-size: 2em;
  margin: 0 0 8px 0;
}

.books-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 300px;
  margin: 60px 0 0 0;
}

.form-input {
  width: 210px;
  height: 20px;
  margin: 6px;
  border: 2px solid black;
}

.add-btn-div {
  width: 210px;
  display: flex;
  justify-content: flex-end;
}

#add-btn {
  display: flex;
  justify-content: center;
  width: 50px;
  border-radius: 0;
  background-color: #fff;
  border: 3px solid black;
  margin: 0 2px 0 0;
}

.add-book-section {
  display: none;
}

.contact-section {
  display: none;
}

.add-book-section.active {
  display: flex;
}

.contact-section.active {
  display: flex;
}
